code/data/tiff_to_use/mosaic_1991.tif
code/data/tiff_to_use/mosaic_1992.tif
code/data/tiff_to_use/mosaic_1993.tif
code/data/tiff_to_use/mosaic_1994.tif
code/data/tiff_to_use/mosaic_1996.tif
code/data/tiff_to_use/mosaic_1997.tif
code/data/tiff_to_use/mosaic_1998.tif
code/data/tiff_to_use/mosaic_1999.tif
code/data/tiff_to_use/mosaic_2001.tif
code/data/tiff_to_use/mosaic_2002.tif
code/data/tiff_to_use/mosaic_2003.tif
code/data/tiff_to_use/mosaic_2004.tif
code/data/tiff_to_use/mosaic_2006.tif
code/data/tiff_to_use/mosaic_2007.tif
code/data/tiff_to_use/mosaic_2008.tif
code/data/tiff_to_use/mosaic_2009.tif
code/data/tiff_to_use/mosaic_2011.tif
code/data/tiff_to_use/mosaic_2012.tif
code/data/tiff_to_use/mosaic_2013.tif
code/data/tiff_to_use/mosaic_2014.tif
code/data/tiff_to_use/mosaic_2016.tif
code/data/tiff_to_use/mosaic_2017.tif
code/data/tiff_to_use/mosaic_2018.tif
code/data/tiff_P_geotiff_recoded/1991_P_recoded.tif
code/data/batch_MSPA/batch_MSPA.log
code/data/tiff_P_geotiff_recoded/1992_P_recoded.tif
code/data/tiff_P_geotiff_recoded/1993_P_recoded.tif
code/data/tiff_P_geotiff_recoded/1994_P_recoded.tif
code/data/tiff_P_geotiff_recoded/1996_P_recoded.tif
code/data/tiff_P_geotiff_recoded/1997_P_recoded.tif
code/data/tiff_P_geotiff_recoded/1998_P_recoded.tif
code/data/tiff_to_use/mosaic_2019.tif
code/data/tiff_to_use/mosaic_2019.tif
code/data/tiff_P_geotiff_recoded/1999_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2001_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2002_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2003_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2004_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2006_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2007_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2008_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2009_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2011_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2012_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2013_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2014_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2019_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2018_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2017_P_recoded.tif
code/data/tiff_P_geotiff_recoded/2016_P_recoded.tif
code/data/tiff_P_geotiff_recoded/1991_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/1992_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/1993_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/1994_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/1996_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/1997_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/1998_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/1999_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2001_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2002_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2003_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2004_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2006_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2007_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2008_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2009_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2011_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2012_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2013_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2014_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2016_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2017_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2018_P_recoded_8_1_0_1.tif
code/data/tiff_P_geotiff_recoded/2019_P_recoded_8_1_0_1.tif
code/data/1990_rc_area.tfw
code/data/1990_rc_area.tif
code/data/1990_rc_area.tif.aux.xml
code/data/1990_rc_area.tif.vat.cpg
code/data/1990_rc_area.tif.vat.dbf
code/data/1991_rc_area.tfw
code/data/1991_rc_area.tif
code/data/1991_rc_area.tif.aux.xml
code/data/1991_rc_area.tif.vat.cpg
code/data/1991_rc_area.tif.vat.dbf
code/data/1991_rc_area.tif.vat.dbf.GEO-008185.1008.19684.sr.lock
code/data/1992_rc_area.tfw
code/data/1992_rc_area.tif
code/data/1992_rc_area.tif.aux.xml
code/data/1992_rc_area.tif.vat.cpg
code/data/1992_rc_area.tif.vat.dbf
code/data/1993_rc_area.tfw
code/data/1993_rc_area.tif
code/data/1993_rc_area.tif.aux.xml
code/data/1993_rc_area.tif.vat.cpg
code/data/1993_rc_area.tif.vat.dbf
code/data/1994_rc_area.tfw
code/data/1994_rc_area.tif
code/data/1994_rc_area.tif.aux.xml
code/data/1994_rc_area.tif.vat.cpg
code/data/1994_rc_area.tif.vat.dbf
code/data/1994_rc_area.tif.vat.dbf.GEO-008185.11280.16352.sr.lock
code/data/1994_rc_area.tif.vat.dbf.GEO-008185.13672.10040.sr.lock
code/data/1994_rc_area.tif.vat.dbf.GEO-008185.22716.21032.sr.lock
code/data/1994_rc_area.tif.vat.dbf.GEO-008185.2400.5108.sr.lock
code/data/1995_rc_area.tfw
code/data/1995_rc_area.tif
code/data/1995_rc_area.tif.aux.xml
code/data/1995_rc_area.tif.vat.cpg
code/data/1995_rc_area.tif.vat.dbf
code/data/1996_rc_area.tfw
code/data/1996_rc_area.tif
code/data/1996_rc_area.tif.aux.xml
code/data/1996_rc_area.tif.vat.cpg
code/data/1996_rc_area.tif.vat.dbf
code/data/1996_rc_area.tif.vat.dbf.GEO-008185.23108.20440.sr.lock
code/data/1997_rc_area.tfw
code/data/1997_rc_area.tif
code/data/1997_rc_area.tif.aux.xml
code/data/1997_rc_area.tif.vat.cpg
code/data/1997_rc_area.tif.vat.dbf
code/data/1997_rc_area.tif.vat.dbf.GEO-008185.23600.20572.sr.lock
code/data/1998_rc_area.tfw
code/data/1998_rc_area.tif
code/data/1998_rc_area.tif.aux.xml
code/data/1998_rc_area.tif.vat.cpg
code/data/1998_rc_area.tif.vat.dbf
code/data/1998_rc_area.tif.vat.dbf.GEO-008185.8360.11372.sr.lock
code/data/1999_rc_area.tfw
code/data/1999_rc_area.tif
code/data/1999_rc_area.tif.aux.xml
code/data/1999_rc_area.tif.vat.cpg
code/data/1999_rc_area.tif.vat.dbf
code/data/2000_rc_area.tfw
code/data/2000_rc_area.tif
code/data/2000_rc_area.tif.aux.xml
code/data/2000_rc_area.tif.vat.cpg
code/data/2000_rc_area.tif.vat.dbf
code/data/2001_rc_area.tfw
code/data/2001_rc_area.tif
code/data/2001_rc_area.tif.aux.xml
code/data/2001_rc_area.tif.vat.cpg
code/data/2001_rc_area.tif.vat.dbf
code/data/2001_rc_area.tif.vat.dbf.GEO-008185.11636.1376.sr.lock
code/data/2002_rc_area.tfw
code/data/2002_rc_area.tif
code/data/2002_rc_area.tif.aux.xml
code/data/2002_rc_area.tif.vat.cpg
code/data/2002_rc_area.tif.vat.dbf
code/data/2002_rc_area.tif.vat.dbf.GEO-008185.12748.22732.sr.lock
code/data/2002_rc_area.tif.vat.dbf.GEO-008185.16000.5732.sr.lock
code/data/2002_rc_area.tif.vat.dbf.GEO-008185.2276.15652.sr.lock
code/data/2002_rc_area.tif.vat.dbf.GEO-008185.7396.21532.sr.lock
code/data/2003_rc_area.tfw
code/data/2003_rc_area.tif
code/data/2003_rc_area.tif.aux.xml
code/data/2003_rc_area.tif.vat.cpg
code/data/2003_rc_area.tif.vat.dbf
code/data/2003_rc_area.tif.vat.dbf.GEO-008185.12372.13728.sr.lock
code/data/2003_rc_area.tif.vat.dbf.GEO-008185.22020.3988.sr.lock
code/data/2004_rc_area.tfw
code/data/2004_rc_area.tif
code/data/2004_rc_area.tif.aux.xml
code/data/2004_rc_area.tif.vat.cpg
code/data/2004_rc_area.tif.vat.dbf
code/data/2004_rc_area.tif.vat.dbf.GEO-008185.20328.19972.sr.lock
code/data/2005_rc_area.tfw
code/data/2005_rc_area.tif
code/data/2005_rc_area.tif.aux.xml
code/data/2005_rc_area.tif.vat.cpg
code/data/2005_rc_area.tif.vat.dbf
code/data/2006_rc_area.tfw
code/data/2006_rc_area.tif
code/data/2006_rc_area.tif.aux.xml
code/data/2006_rc_area.tif.vat.cpg
code/data/2006_rc_area.tif.vat.dbf
code/data/2006_rc_area.tif.vat.dbf.GEO-008185.20640.15104.sr.lock
code/data/2007_rc_area.tfw
code/data/2007_rc_area.tif
code/data/2007_rc_area.tif.aux.xml
code/data/2007_rc_area.tif.vat.cpg
code/data/2007_rc_area.tif.vat.dbf
code/data/2007_rc_area.tif.vat.dbf.GEO-008185.14448.17656.sr.lock
code/data/2007_rc_area.tif.vat.dbf.GEO-008185.20200.15920.sr.lock
code/data/2008_rc_area.tfw
code/data/2008_rc_area.tif
code/data/2008_rc_area.tif.aux.xml
code/data/2008_rc_area.tif.vat.cpg
code/data/2008_rc_area.tif.vat.dbf
code/data/2008_rc_area.tif.vat.dbf.GEO-008185.18780.19776.sr.lock
code/data/2008_rc_area.tif.vat.dbf.GEO-008185.5068.14912.sr.lock
code/data/2009_rc_area.tfw
code/data/2009_rc_area.tif
code/data/2009_rc_area.tif.aux.xml
code/data/2009_rc_area.tif.vat.cpg
code/data/2009_rc_area.tif.vat.dbf
code/data/2010_rc_area.tfw
code/data/2010_rc_area.tif
code/data/2010_rc_area.tif.aux.xml
code/data/2010_rc_area.tif.vat.cpg
code/data/2010_rc_area.tif.vat.dbf
code/data/2011_rc_area.tfw
code/data/2011_rc_area.tif
code/data/2011_rc_area.tif.aux.xml
code/data/2011_rc_area.tif.vat.cpg
code/data/2011_rc_area.tif.vat.dbf
code/data/2011_rc_area.tif.vat.dbf.GEO-008185.13668.20660.sr.lock
code/data/2011_rc_area.tif.vat.dbf.GEO-008185.17140.23336.sr.lock
code/data/2011_rc_area.tif.vat.dbf.GEO-008185.19660.23276.sr.lock
code/data/2011_rc_area.tif.vat.dbf.GEO-008185.20672.18780.sr.lock
code/data/2011_rc_area.tif.vat.dbf.GEO-008185.23644.16424.sr.lock
code/data/2011_rc_area.tif.vat.dbf.GEO-008185.25208.16616.sr.lock
code/data/2012_rc_area.tfw
code/data/2012_rc_area.tif
code/data/2012_rc_area.tif.aux.xml
code/data/2012_rc_area.tif.vat.cpg
code/data/2012_rc_area.tif.vat.dbf
code/data/2013_rc_area.tfw
code/data/2013_rc_area.tif
code/data/2013_rc_area.tif.aux.xml
code/data/2013_rc_area.tif.vat.cpg
code/data/2013_rc_area.tif.vat.dbf
code/data/2014_rc_area.tfw
code/data/2014_rc_area.tif
code/data/2014_rc_area.tif.aux.xml
code/data/2014_rc_area.tif.vat.cpg
code/data/2014_rc_area.tif.vat.dbf
code/data/2014_rc_area.tif.vat.dbf.GEO-008185.22868.24340.sr.lock
code/data/2014_rc_area.tif.vat.dbf.GEO-008185.840.15424.sr.lock
code/data/2015_rc_area.tfw
code/data/2015_rc_area.tif
code/data/2015_rc_area.tif.aux.xml
code/data/2015_rc_area.tif.vat.cpg
code/data/2015_rc_area.tif.vat.dbf
code/data/2016_rc_area.tfw
code/data/2016_rc_area.tif
code/data/2016_rc_area.tif.aux.xml
code/data/2016_rc_area.tif.vat.cpg
code/data/2016_rc_area.tif.vat.dbf
code/data/2016_rc_area.tif.vat.dbf.GEO-008185.17912.15484.sr.lock
code/data/2016_rc_area.tif.vat.dbf.GEO-008185.22648.21968.sr.lock
code/data/2016_rc_area.tif.vat.dbf.GEO-008185.22912.13424.sr.lock
code/data/2016_rc_area.tif.vat.dbf.GEO-008185.22968.20944.sr.lock
code/data/2016_rc_area.tif.vat.dbf.GEO-008185.23556.24044.sr.lock
code/data/2017_rc_area.tfw
code/data/2017_rc_area.tif
code/data/2017_rc_area.tif.aux.xml
code/data/2017_rc_area.tif.vat.cpg
code/data/2017_rc_area.tif.vat.dbf
code/data/2017_rc_area.tif.vat.dbf.GEO-008185.17268.16984.sr.lock
code/data/2017_rc_area.tif.vat.dbf.GEO-008185.26428.1816.sr.lock
code/data/2018_rc_area.tfw
code/data/2018_rc_area.tif
code/data/2018_rc_area.tif.aux.xml
code/data/2018_rc_area.tif.vat.cpg
code/data/2018_rc_area.tif.vat.dbf
code/data/2018_rc_area.tif.vat.dbf.GEO-008185.1152.22736.sr.lock
code/data/2019_rc_area.tfw
code/data/2019_rc_area.tif
code/data/2019_rc_area.tif.aux.xml
code/data/2019_rc_area.tif.vat.cpg
code/data/2019_rc_area.tif.vat.dbf
code/data/2019_rc_area.tif.vat.dbf.GEO-008185.14740.13664.sr.lock
code/data/2020_rc_area.tfw
code/data/2020_rc_area.tif
code/data/2020_rc_area.tif.aux.xml
code/data/2020_rc_area.tif.vat.cpg
code/data/2020_rc_area.tif.vat.dbf
code/data/test/1990_test_b1.rst
code/data/test/1990_test_b1.ref
code/data/test/1990_test_b1.rdc
code/data/2002_rc_area.rst
code/data/1994_rc_area.rst
code/data/1993_rc_area.rst
code/data/1991_rc_area.rst
code/data/1990_rc_area.rst
code/data/1990_rc_area.ref
