code/data/tiff_to_use/mosaic_1991.tif
code/data/tiff_to_use/mosaic_1992.tif
code/data/tiff_to_use/mosaic_1993.tif
code/data/tiff_to_use/mosaic_1994.tif
code/data/tiff_to_use/mosaic_1996.tif
code/data/tiff_to_use/mosaic_1997.tif
code/data/tiff_to_use/mosaic_1998.tif
code/data/tiff_to_use/mosaic_1999.tif
code/data/tiff_to_use/mosaic_2001.tif
code/data/tiff_to_use/mosaic_2002.tif
code/data/tiff_to_use/mosaic_2003.tif
code/data/tiff_to_use/mosaic_2004.tif
code/data/tiff_to_use/mosaic_2006.tif
code/data/tiff_to_use/mosaic_2007.tif
code/data/tiff_to_use/mosaic_2008.tif
code/data/tiff_to_use/mosaic_2009.tif
code/data/tiff_to_use/mosaic_2011.tif
code/data/tiff_to_use/mosaic_2012.tif
code/data/tiff_to_use/mosaic_2013.tif
code/data/tiff_to_use/mosaic_2014.tif
code/data/tiff_to_use/mosaic_2016.tif
code/data/tiff_to_use/mosaic_2017.tif
code/data/tiff_to_use/mosaic_2018.tif
code/data/tiff_P_geotiff_recoded/1991_P_recoded.tif
code/data/batch_MSPA/batch_MSPA.log
code/data/tiff_P_geotiff_recoded/1992_P_recoded.tif
code/data/tiff_P_geotiff_recoded/1993_P_recoded.tif
code/data/tiff_P_geotiff_recoded/1994_P_recoded.tif
code/data/tiff_P_geotiff_recoded/1996_P_recoded.tif
code/data/tiff_P_geotiff_recoded/1997_P_recoded.tif
code/data/tiff_P_geotiff_recoded/1998_P_recoded.tif
code/data/tiff_to_use/mosaic_2019.tif
code/data/tiff_to_use/mosaic_2019.tif
